<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Q&A Forum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="forum-content">
    <h2>Q&A Forum</h2>
    <p>Ask questions and get help from the community</p>
    
    <ion-button expand="full" color="primary">
      <ion-icon name="add" slot="start"></ion-icon>
      Ask New Question
    </ion-button>
  </div>
</ion-content>
